.container{
    text-align: left;
}

.form-list-one, .form-list-two{
    margin-bottom: 15px;
}

.results{display: none;}

.active{display: block;}

.images{
    padding: 10px;
    margin: 10px;
    width: 520px;
    height: 395px;
}

.bold{
    font-weight: bold;
}